

:root {
    --assent-color: #0045ff;
    --bg-color: #00000a;
    --secondary-color: #111;
    --terciary-color: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--assent-color);

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.results {
    background-color: var(--secondary-color);
    color: #fff;
    
    padding: 20px;

    border-radius: 12px;

    position: relative;

    & ul {
        padding-left: 24px;
    };

    & p {
        margin: 12px 0;
    };

    span.values {
        /* background-color: var(--assent-color); */
        color: var(--assent-color);
        text-decoration: underline;
        font-weight: bold;
        
        padding: 0 4px;
        border-radius: 4px;
    };

    &::after {
        content: "";
        z-index: -1;
        background-color: var(--assent-color);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        border-radius: 12px;
    
        filter: blur(8px);
    
        animation: bg-glow 3s ease-in-out infinite;
    };

    & > a.btn {
        background-color: var(--assent-color);
        color: #fff;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        display: block;
        padding: 8px 4px;
        margin: 24px 0 0 0;

        &:hover {
            filter: brightness(0.9);
        };
        &:active {
            filter: brightness(0.7);
        };
    };

    & > table {
        background-color: var(--terciary-color);
        padding: 8px;
        border-radius: 12px;

        box-shadow: 0px 0px 5px var(--assent-color);

        & td {
            padding: 4px;
            outline: 2px solid var(--assent-color);
            text-align: center;
            min-width: 6rem;
        };
        & td.title {
            color: var(--assent-color);
            font-weight: bolder;
        };
    };
}
@keyframes bg-glow {
    0% { opacity: 1; filter: blur(10px); }
    50% { opacity: 0.5; filter: blur(8px); }
    100% { opacity: 1; filter: blur(10px); }
}

